<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Royal Vending</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Inicio</a></li>
                            <% if(typeof userLocal != 'undefined'){ %>
                                <li class="scroll-to-section"><a href="/admin/logout">Cerrar Sesion</a></li>
                            <% } %> 
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area header-equipos" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text ">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-12 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1><strong><%= equipo.nombre %> </strong></h1>
                        <p><%= equipo.dato1 %> </p>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Equipos Start ***** -->
    <section class="section" id="detail">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row detail-container" >
                <div class="col-lg-6 col-md-12 col-sm-12 detail-img">
                    <img src="<%= equipo.imagen %>" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 detail-text">
                    <h3><%= equipo.nombre %> </h3>
                    <p>
                        <%= (equipo.dato1 != '') ? equipo.dato1  : ''%>
                    </p> 
                    <p>
                        <%= (equipo.dato2 != '') ? equipo.dato2  : ''%>
                    </p> 
                    <p>
                        <%= (equipo.dato3 != '') ? equipo.dato3  : ''%>
                    </p> 
                    <p>
                        <%= (equipo.dato4 != '') ? equipo.dato4  : ''%>
                    </p> 
                    <p>
                        <%= (equipo.dato5 != '') ? equipo.dato5  : ''%>
                    </p> 
                    <div>
                        <img src="<%= equipo.ficha_tecnica %> " alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Equipos End ***** -->


    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-footer">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; Royal Vending</p>
                </div>
                
                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

  </body>
</html>