<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>Royal Vending</title>
<!--

ART FACTORY

https://templatemo.com/tm-537-art-factory

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/owl-carousel.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo"><img src="/images/logo.png" alt=""></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Inicio</a></li>
                            <% if(typeof userLocal != 'undefined'){ %>
                                <li class="scroll-to-section"><a href="/admin/logout">Cerrar Sesion</a></li>
                            <% } %> 
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area header-equipos" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text ">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-12 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1 id="equipos-text">Gestión de Equipos</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Equipos Start ***** -->
    <section class="section" id="faqs">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Todos los Equipos</h2>
                    </div>
                </div>
                <div class="col-lg-12" id="admin-button">
                       <a href="/admin/create-equipo" class="main-button"  >Agregar Equipo</a>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
            <div class="row equipos">
                <% for(equipo of equipos) {%> 
                    <div class="col-lg-4 col-md-5 col-sm-11">
                        <img src="<%= equipo.imagen %> " alt="">
                        <h3><%= equipo.nombre %> </h3>
                        <p>Categoria : <strong><%= equipo.categoria.nombre %> </strong> </p>
                        <a href="/admin/editar-equipo/<%= equipo.id %>" class="main-button" style="margin-bottom: 10px;">Editar </a>
                        <a href="/admin/equipo/<%= equipo.id %>" class="main-button" style="margin-bottom: 10px;">Detalle </a>
                        <a href="/admin/eliminar-equipo/<%= equipo.id %>" class="main-button">Eliminar</a>
                    </div>
                <% } %> 
            </div>
        </div>
    </section>
    <!-- ***** Equipos End ***** -->

    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 logo-footer">
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; Royal Vending</p>
                </div>
                
                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

  </body>
</html>